* {
  margin: 0;
  padding: 0;
  line-height: 1.2em;
  border:0;
}

body {
  background-color: #000;
  color:#ccc;
  font-family: Arial, sans-serif;
  margin:10px 10px;
  width: 100%;
}

#menu {
  width: 100%;
  margin-bottom: 0.5em;
}


#menulist {
  display: block;
  overflow: auto;
}

#main {
  clear: both;
}

.menuitem {
  display: block;
  float: left;
  padding: 2px 20px;
  background-color: #aaa;
  color: #000;
  cursor: pointer;
  margin-right: 5px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
  border-radius: 4px;
  text-shadow: 1px 1px 0px #ccc;
  font-size: 0.8em;
}

.break {
  clear: left;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.block {
  display: block;
}

.green {
  color: #8f8;
}

.red {
  color: #f88;
}

.blue {
  color: #88f;
}

#pattern_editor_box {
  background-color: #666;
  overflow: auto;
  position: absolute;
  padding: 5px 0 5px 5px;
  font-family: monospace;
  font-size: 16px;
}

#song_editor_box {
  background-color: #666;
  overflow: auto;
  position: absolute;
  left:700px;
  padding: 5px 5px 5px 5px;
  font-family: monospace;
  font-size: 16px;
  height: 198px;
  width: 18ch;

}

.track {
  background-color: #000;
  float: left;
  margin-right: 5px;
  padding: 1px;
  overflow: auto;
}

.trackCell, .songRow {
  background-color: #333;
  color: #ccc;
  height: 1em;
  line-height: 1em;
  padding: 0.1em 0.5em;
}

.trackCell{
  width: 8ch;
}

.songRow {
  width: 15ch;
  margin-right: 5px;
  float: left;
  clear: both;
  padding: 1px 0.8ch;
}


.songCell>input,.trackCell>input{
  margin:0;
  padding:0;
  height:1em;
  width:1ch;
  background-color: #333;
  color: #ccc;
  font-family: monospace;
  caret-color: transparent;
  font-size: inherit;
  font-weight: bold;
  float:left;
}

.songCell>input:focus,.trackCell>input:focus{
  outline: 0;
  background-color: #555;
}

.row_number {
  margin:0;
  padding:0;
  height:1em;
  font-size: inherit;
  color: #999;
  float:left;
  width:2ch;
  margin-right: 0.5ch;
}

.songCell>input {
  width:2ch;
  margin: 0 0.5ch;
}

.trackCell>input.trackNote {
  width:3ch;
}

.trackCell>input.trackInstr {
  width:2ch;
  margin: 0 1ch;
}

.trackCell>input.trackVol {
  width:1ch;
}